@import url(http://fonts.googleapis.com/css?family=Abel);

body {
font-family: 'Abel', sans-serif;
}



#pageheader {
    display:table;
    width:62.5%;
    margin:auto;
}




.col {
    display: table-cell;
}


.col ul#sub {
    float:right; 
    padding:0;
    margin:0; 
}

.col ul#sub li {
    display:inline;
    list-style-type: none;
    text-align:right;
}

.col ul#sub li a {
    padding:5px;
    background-color:inherit;
    color:#777;
}

.col ul#sub li a:hover {
    color: yellowgreen;
}

